@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

@media (min-width: 769px) {
  .gamburger {
    display: none;
  }
}

@media (max-width: 400px) {
  .review__person-photo {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 455px) {
  .contact__circle {
    width: 91.47vw;
    height: 91.47vw;
  }
  .contact__form {
    width: 60.66vw;
    bottom: auto;
  }
  .contact__check {
    display: none;
  }

}
