 * {
  box-sizing: border-box;
  text-align: center;
}
 .wrapper {
   max-width: 1280px;
   margin: 0 auto;
   box-shadow: 0 0 0.625em rgba(0,0,0,0.5);
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

 /* HEADER
 ==========================================================*/

header {
  background: #4C97A2;
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0.7em 0;
  font-family: 'Cherry Swash', cursive;
  font-size: calc(13px + 2.1vw);
  color: #FFFFFF;
  text-decoration: none;
} 

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

ul a {
  font-size: calc(11px + 0.46vw);
  text-align: center;
  color: #DCE3E4;
  text-decoration: none;
}

.nav__item {
  position: relative;
}

.nav__link {
  padding: 0 10px;
}

.nav__link--home::after {
  position: absolute;
  content: '';
  top: 1.5px;
  right: -1px;
  width: 2px;
  height: 16px;
  background: #DCE3E4;
  transform: rotate(15deg);
}

.nav__link--about::after {
  position: absolute;
  content: '';
  top: 1.5px;
  right: -1px;
  width: 2px;
  height: 16px;
  background: #DCE3E4;
  transform: rotate(15deg);
}

.nav__link--portfolio::after {
  position: absolute;
  content: '';
  top: 1.5px;
  right: -1px;
  width: 2px;
  height: 16px;
  background: #DCE3E4;
  transform: rotate(15deg);
} 

 /* Section BANNER
 ==========================================================*/

 .banner {
   background: url(../img/background.png);
 }

 .container--banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
 }

 .banner__title {
  max-width: 13em; 
  margin: 2.95em auto 0;
  font-size: calc(20px + 1.5625vw);
  color: #E4E4E4;
}

 .banner__button {
   padding: 0.33em 1.3em 0.36em 1.56em;
   margin: 1.53em 0 4em;
   font-size: calc(10px + 1.56vw);
   color: #E4E4E4;
   background: transparent;
   border-bottom-style: solid;
   border-color: #fff;
   border-radius: 5%;
 }

 .banner__scroll {
   display: flex;
   margin-bottom: 1.95em;
 }

 .banner__ellipse {
  width: 9px;
  height: 9px;
  margin: 0 0.375em;
  border-radius: 50%;
  background: #fff;
 }

 .banner__ellipse--grey {
   background: #69728C;
 }

 .gamburger {
   position: relative;
   width: 2.34em;
   height: 0.35em;
   background: #000000;
 }

 .gamburger::after {
   content: "";
   position: absolute;
   top: 0.625em;
   left: 0;
   right: 0;
   width: 2.34em; 
   height: 0.35em;
   background: #000000;
 }

 .gamburger::before {
  content: "";
  position: absolute;
  top: -0.625em;
  left: 0;
  right: 0;
  width: 2.34em;
  height: 0.35em;
  background: #000000;
}

  /* Section learn
 ==========================================================*/

 .container--learn {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .learn__title {
   margin: calc(40px + 3.90626vw) 0 0;
   font-size: calc(20px + 0.65104vw);
   color: #4C505D;
 }

 .learn__subtitle {
   margin: calc(20px + 1.6276vw) 0 calc(40px + 1.953128vw);
   font-size: calc(14px + 0.260418vw);
   color: #4C505D;
 }

 .learn__icon {
   display: flex;
   justify-content: space-around;
   margin-bottom: 4.44444em;
   font-size: calc(14px + 0.260418vw);
 }

 .icon {
   padding: 0 calc(15px + 3.0599vw);
 }

   /* Section review
 ==========================================================*/

 .review {
  background: #00D089;
}

.container--review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .quotes {
  position: absolute;
  top: 0.34em;
  font-size: calc(100px + 0.260415vw);
  color: #FFFFFF;
  opacity: 0.2;
}

.quote__text {
  margin:0 0 4.44444em 0;
  font-size: calc(14px + 0.260418vw);
  color: #FFFFFF;
}

.review__person-photo {
  width: 9.48em;
  height: 9.48em;
  object-fit: cover;
  object-position: 0 10%;
  border-radius: 50%;
}

.review__name {
  font-size: calc(16px + 0.65104vw);
  color: #FFFFFF;
}

.review__person-name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2.5em;
}

.review__person {
  display: flex;
  margin: calc(40px + 3.90626vw) 0 calc(20px + 2.8vw);
}

 /* Section contact
 ==========================================================*/

 .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/map.png);
}

 .contact__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 26.9375em;
  height: 26.9375em;
  margin: calc(10px + 1.6276vw) auto;
  border: none;
  border-radius: 50%;
  opacity: 0.85;
  background: white;
 }


.contact__check {
  position: absolute;
  align-self: flex-end;
  bottom: calc(10px + 2vw);
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #00D089;
}

.contact__form {
  position: absolute;
  bottom: 150px;
  width: 17.25em;
  display: flex;
  flex-direction: column;
}

.contact__check::before {
  content: '';
  position: absolute;
  top: 1.1875em;
  right: 1.375em;
  width: 0.625em;
  height: 2.5em;
  background: #fff;
  border-radius: 10%;
  transform: rotate(45deg);
}

.contact__check::after {
  content: '';
  position: absolute;
  top: 2em;
  right: 2.5em;
  width: 0.625em;
  height: 1.25em;
  background: #fff;
  border-radius: 10%;
  transform: rotate(-45deg);
}

.contact__input {
  padding: 0.66em 0 0.62em 1.12em;
  font-size: 0.875em;
  text-align: left;
}

.contact__input--email {
  margin: 1.07em 0;
}

 /* FOOTER
 ==========================================================*/

 footer {
   background: #00D089;
 }

 .copyright {
   padding: 1em 0;
   margin: 0;
   font-size: calc(10px + 0.32vw);
   color: #fff;
 }
