 * {
  box-sizing: border-box;
  text-align: center;
}
 .wrapper {
   max-width: 1280px;
   margin: 0 auto;
   box-shadow: 0 0 0.625em rgba(0,0,0,0.5);
}

 /* Header
 ==========================================================*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4C97A2;
}

.logo {
  padding: 0.7em 0 0.7em calc(20px + 12.73vw);
  font-family: 'Cherry Swash', cursive;
  font-size: calc(13px + 2.1vw);
  color: #FFFFFF;
  text-decoration: none;
} 

.nav {
  width: calc(425px + 2vw);
  margin-right: 2.85em;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

ul a {
  font-size: calc(11px + 0.46vw);
  text-align: center;
  color: #DCE3E4;
  text-decoration: none;
}

.nav__item {
  position: relative;
}

.nav__link--home::after {
  content: '/';
  position: absolute;
  left: 3.25em;
  font-size: calc(12px + 0.46vw);
  color: #DCE3E4;
}

.nav__link--about::after {
  content: '/';
  position: absolute;
  left: 5.25em;
  font-size: calc(12px + 0.46vw);
  color: #DCE3E4;
}

.nav__link--portfolio::after {
  content: '/';
  position: absolute;
  left: 5.5em;
  font-size: calc(12px + 0.46vw);
  color: #DCE3E4;
} 

 /* Section banner
 ==========================================================*/

 .banner {
   display: flex;
   align-items: center;
   flex-direction: column;
   background: url(../img/background.png);
 }

 .banner__title {
  width: calc(156px + 28.4vw); 
  margin: 2.95em 0 0 0;
  font-size: calc(13.2px + 2.4vw);
  color: #E4E4E4;
}

 .banner__button {
   padding: 0.33em 1.3em 0.36em 1.56em;
   margin: 1.53em 0 4em;
   font-size: calc(10px + 1.56vw);
   color: #E4E4E4;
   background: transparent;
   border-bottom-style: solid;
   border-color: #fff;
   border-radius: 5%;
 }

 .banner__scroll {
   display: flex;
   margin-bottom: 1.95em;
 }

 .banner__ellipse {
   padding: 0 0.47em;
 }

 .gamburger {
   position: relative;
   width: 2.34em;
   height: 0.35em;
   margin-right: 0.7em;
   background: #000000;
 }

 .gamburger::after {
   content: "";
   position: absolute;
   top: 0.625em;
   left: 0;
   right: 0;
   width: 2.34em; 
   height: 0.35em;
   background: #000000;
 }

 .gamburger::before {
  content: "";
  position: absolute;
  top: -0.625em;
  left: 0;
  right: 0;
  width: 2.34em;
  height: 0.35em;
  background: #000000;
}

  /* Section learn
 ==========================================================*/

 .learn {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .learn__title {
   width: 49%;
   margin: 3.33em 0 0;
   font-size: calc(20px + 0.78vw);
   color: #4C505D;
 }

 .learn__subtitle {
   width: 66.8%;
   margin: 2.86em 0 5em;
   font-size: 0.875em;
   color: #4C505D;
 }

 .learn__icon {
   margin-bottom: 5em;
   display: flex;
   justify-content: center;
 }

 .learn__planet {
   padding: 0 calc(50px + 5.8vw);
 }

   /* Section review
 ==========================================================*/

.quotes {
  position: absolute;
  top: 10px;
  font-size: calc(100px + 6vw); /*178px*/
  color: #FFFFFF;
  opacity: 0.2;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00D089;
}

.review__text {
  width: 70.7%;
  margin-bottom: 7.5em;
  font-size: calc(14px + 0.16vw);
  line-height: calc(25px + 0.78vw);
  color: #FFFFFF;
}

.review__person-photo {
  width: 9.48em;
  height: 9.48em;
  border-radius: 50%;
}

.review__name {
  font-size: calc(16px + 0.78vw);
  color: #FFFFFF;
}

.review__person-name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2.5em;
}

.review__person {
  display: flex;
  margin: 6em 0 3.875em;
}

 /* Section contact
 ==========================================================*/

 .contact {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(../img/map.png);
 }

 .contact__circle {
  margin: 2.80em auto;
  z-index: 1;
  opacity: 0.85;
 }

.contact__check {
  position: absolute;
  bottom: 5.5em;
  z-index: 2;
}

.contact__form {
  position: absolute;
  width: 17.25em;
  display: flex;
  flex-direction: column;
}

.contact__input {
  padding: 0.66em 0 0.62em 1.12em;
  font-size: 0.875em;
  color: #4C505D;
  text-align: left;
}

.contact__input--email {
  margin: 1.07em 0;
}

 /* FOOTER
 ==========================================================*/

 footer {
   background: #00D089;
 }

 .copyright {
   padding: 1em 0;
   margin: 0;
   font-size: calc(10px + 0.32vw);
   color: #fff;
 }
